@page "/"

<PageTitle>Home</PageTitle>

<head>
	<link rel="stylesheet" href="../css/app.css"/>
</head>

<div id="Presentation">
	<h1>Hello,<br />my name is Joachim Berchel</h1>
	<p>I'm an apprentice IT Developer from Switzerland.</p>
	<button>A little about me</button>
</div>

<div id="projects">
	<div class="project">
		<table>
			<tr>
				<h2>Spicy Invaders</h2>
				<img class="img" src="../img/SpicyInvaders.png" alt="Image of the game SpicyInvaders"/>
			</tr>
			<tr>
				<img class="logo" src="../img/icons8-.net-framework.svg" alt=".NET" />
				<img class="logo" src="../img/icons8-mysql.svg" alt="MySQL" />
				<img class="logo" src="../img/icescrum-logo.png" alt="IceScrum" />
			</tr>
		</table>
		<button>More Information</button>
	</div>

	<div class="project">
		<table>
			<tr>
				<h2>2 Player Game</h2>
				<img class="img" src="../img/2player-menu.png" alt="Image of the menu 2 Player Game"/>
			</tr>
			<tr>
				<img class="logo" src="../img/icons8-godot.svg" alt="Godot" />
			</tr>
		</table>
		<button>More Information</button>
	</div>

	<div class="project">
		<table>
			<tr>
				<h2>Snake</h2>
				<img class="img" src="../img/snake_game.png" alt="Snake game" />
			</tr>
			<tr>
				<img class="logo" src="../img/icons8-html.svg" alt="HTML5" />
				<img class="logo" src="../img/icons8-css.svg" alt="CSS3" />
				<img class="logo" src="../img/icons8-javascript.svg" alt="Javascript" />
			</tr>
		</table>
		<button>More Information</button>
	</div>
</div>
