@page "/"

<PageTitle>Home</PageTitle>

<head>
	<link rel="stylesheet" href="../css/HomeMenu.css"/>
</head>

<div id="SpicyInvaders">
	<img class="img" src="../img/SpicyInvaders.png" alt="Image du projet SpicyInvaders"/>
</div>
